body {
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
}

.tweet-submit-container {
    border: 1px solid black;
    padding: 10px 20px;
}

input[type="text"] {
    height: 50px;
    width: 100%;
    font-size: 18pt;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    margin: 6px 0;
    background: lightgray;
    border: 1px solid black;
    font-size: 16pt;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.items-container {
    border-top: 1px solid black;
}

.item {
    padding: 20px 15px;
    font-size: 16pt;
    border: 1px solid black;
    border-top: none;
    position: relative; /* only needed if we do remove button */
}