<html>
    <head>

    </head>
    <body>
        <h1>this is a template</h1>
        <% messages.forEach((message)=>{ %>
            <% if(message.visible) { %>
                <h2><%= message.text %></h2>
            <% } else { %>
                <h2> sorry you cant see this message </h2>
            <% } %>
        <% }) %>
        
    </body>
</html>