#importantParagraph {
    font-size: 36pt;
}

.blueParagraph {
    background-color: rgb(50, 131, 189);
}

.pinkParagraph {
    background-color: rgb(235, 130, 212);
    /* specific selector for location margin */
    /* margin-top: 0; */
    /* shorthand way of writing top, left, bottom, right */
    margin: 0 10 0 10;
    /* universally applying same size along all sizes */
    /* margin: 0; */
    border: black solid 10px;
    border-radius: 15px;
    display: inline;
    padding: 5px;
}

.container{
    height: 100px;
    width: 100%;
    background-color: greenyellow;
}

body{
    margin: 0;
}