<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <%- include('navigation.ejs', {}) %>
    
    <div class="app-container">
      <p>this is about me</p>
    </div>
  </body>
</html>
