<div class="input-container">
  <form method="POST" action="/project3/upload" enctype="multipart/form-data">
    <input type="text" name="text" placeholder="say something..." />
    <input type="submit" name="submitbutton" value="Submit" />
    <!-- changing to custom file upload button -->
    <label class="custom-file-upload">
      <input type="file" name="theimage" />
      Upload Files
    </label>
  </form>
</div>
