<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="app-container">
        <a href="/form/to/fake/twitter">link to form</a>
        <a href="/test.html">testing code ty</a>
      <div class="messages-container">
        <% messages.forEach( (message) => { %>
        <div class="message-item">
          <div class="date"><%= message.date %></div>
          <p class="message"><%= message.text %></p>
          <% if(message.imgSrc){ %>
            <div class="item-image"><img src="<%= message.imgSrc %>"></div>
          <% } %>
          
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
