body{
    background-color: #f0f8ff;
}

/* adds a margin to all of the content on the page */
.big-content{
    margin: 15px;
}

/* adds a border to the bottom of the element similar to adding a <hr> */
.menu {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

/* adjusting margin based on inspo site */
h1{
    margin-bottom: 2px;
}

/* adjusting margin using top-bottom, left-right shorthand  */
p {
    margin: 5px 0px;
}

/* changes color of text of the red class */
.red {
    color: red;
}

/* changes color of text of the blue class */
.blue{
    color: blue;
}

.footer-content {
    /* flex display always exists on the parent class */
    display:flex;
    /* row is how you want the content to be ordered : can also be columns or wrapping */
    flex-direction:row;
    /* adds spacing around or between elements to center them on the page */
    justify-content: space-between;
    /* aligns the content of each child element to preferred. start is default with alignment to the top */
    align-items: start;
}

.footer{
    border-top: 2px solid black;
}

.feature-content{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    /* gap: 10px; */
}

.feature-content .text{
    /* flex: [number] is proportion of the element in relation to other flex: [number] */
    /* ie. flex: 1 and flex: 3 elements will have proportion of 1/4 to 3/4 */
    flex: 1;
    padding-right: 10px;
}

.feature-content .image{
    flex: 3;
}

.feature-content .image img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.grid-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.grid-content .grid-element{
    max-width: 300px;
    /* flex: 2; */
}

.grid-content .grid-element .image img{
    max-height: 200px;
}