body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F1ECCE;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.search-container, .form-container, .messages-container{
    width: 60%;
}
.search-container form, .form-content-container{
    display: flex;
    flex-direction: column;
}
.upload-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.post{
    width: 100%;
    border: 1px solid #331832;
    margin: 2px 0px;
    padding: 5px;
    position: relative;
}

.post .date{
    color: #9FC2CC;
    font-size: 12px;
}
.post .message-text{
    color: #1B5299;
    font-size: 20px;
}

.post .message-image, .message-text, .date{
    width: 100%;
}

.remove-submit-btn{
    display: none;
}
.remove-label{
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.like-label{
    font-size: 11pt;
    cursor: pointer;
}
.like-btn{
    display: none;
}