<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
  <body>
    
    <div class="tweet-submit-container">
        <form action="/search" type="GET">
            <div>
                <input id="inputText" type="text" name="searchQuery" placeholder="Search for movies..."/>
            </div>            

            <div>
                <input type="submit" name="submitbutton" value="Search" id="submitButton" />
            </div>
        </form>
    </div>

    <div id="allMessagesContainer" class="items-container">
    </div>

  </body>
</html>