<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="app-container">
      <div class="input-container">
        <form method="POST" action="/upload" enctype="multipart/form-data">
          <input type="text" name="text" placeholder="say something...">
          <input type="submit" name="submitbutton" value="Submit">
          <input type="file" name="theimage">
        </form>
      </div>
    </div>
  </body>
</html>
