<%- include('nav.ejs') %>

<div class="form-container">
    <h1> Register for a new account!</h1>
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <div class="register-content-container">
            <input type="text" name="fullname" placeholder="your full name" class="login-full-name">

            <input type="text" name="username" placeholder="choose a username" class="login-username">

            <input type="password" name="password" placeholder="choose a password" class="login-password">

            <div class='pfp-container'>
                <label for="fileUpload" class="custom-file-upload"> upload profile picture </label>
                
                <input type="file" id="fileUpload" name="profilePicture">
            </div>
            <input type="submit" name="submitbutton" value="make my account!" class="submit-btn">
        </div>
    </form>
</div>