<div class="search-container">
  <form method="GET" action="/search">
    <input
      type="text"
      class="search-bar"
      name="searchTerm"
      placeholder="Search..."
    />
  </form>
</div>

<div class="form-container">
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="text" name="text" placeholder="Say something..." />
    <input type="submit" name="submitbutton" value="Submit" />
  </form>
</div>
