<html>
  <head>
    <title>😈</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="search-container">
      <form method="GET" action="/search">
        <input
          type="text"
          class="search-bar"
          name="searchTerm"
          placeholder="search..."
          value=""
        />
        <div>
          <input
            type="checkbox"
            class="search-bar-checkbox"
            name="imageOnly"
            id="imageOnlyCheckbox"
          />
          <label for="imageOnlyCheckbox">
            Only include search results with images</label
          >
        </div>
      </form>
    </div>

    <div class="form-container">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-content-container">
          <input type="text" name="text" placeholder="say something..." />
          <div class="upload-buttons">
            <input type="file" name="theimage" />
            <input type="submit" name="submitbutton" value="submit" />
          </div>
        </div>
      </form>
    </div>

    <div class="messages-container">

        <% messages.forEach((message) => {%>
            <div class="post">
              <a href="/message/<%=message._id%>">
                <span class="date"><%=message.date%></span>
                <p class="message-text"><%=message.text%></p>
                <% if(message.image){  %>
                    <img class="message-image" src=<%=message.image%>>
                <%}%>
                </a>
            </div>
        <%})%>
        
    </div>
  </body>
</html>
